%header{:role => "masthead"}
  .wrapper.header-wrapper
    %h1.logo.wow.fadeInDown
      = link_to "Mariusz Cieśla - User Interface Designer &amp; Developer", "/", :class => "logo-symbol"

    %nav.nav--top.wow.fadeInDown{:role => "navigation", "data-wow-delay" => ".25s"}
      %ul
        %li= link_to "About", "#"
        %li= link_to "Work", "#"
        %li= link_to "Writing", "http://blog.mariusz.cc"
        %li= link_to "Contact", "#"
